<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F3B5F6825E28DB80084A6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3B5F7A25E28DB90084A6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3B5F8525E28DB90084A6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
